<template>
<div class="padded">
  <img class="NuxtLogo" src='/fingerprint.svg'>
  </div>
</template>

<style>
.padded {
  padding: 30px;
}

.NuxtLogo {
  animation: 3s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
