<template>
<v-app>
<div id="printArea">
    <h1>Fingerprint Authentication Report</h1>
    <v-data-table :items="this.pretty_logs" :headers="this.headers" :options="this.tableOptions" :loading="this.$fetchState.pending" :hide-default-footer="this.printState"></v-data-table>
</div>
<div>
    <v-btn @click="print" color="primary">Print</v-btn>
    <nuxt-link to="/students">
        <v-btn color="secondary"> Student DB </v-btn>
    </nuxt-link>
</div>
</v-app>
</template>

<script>
import print from 'print-js';
import moment from 'moment';

export default {
    data: function() {
        return {
            printState: false,
            logs: [],
            tableOptions: {
                sortDesc: true,
                page: 2
            },
            headers:[
                {
                    text: 'first name',
                    value: 'fName',
                    align: 'start'
                },
                {
                    text: 'surname',
                    value: 'surname',
                    align: 'end'
                },
                {
                    text: 'Reg. No.',
                    value: 'registration',
                    sortable: false
                },
                {
                    text: 'position',
                    value: 'fingerprint_position',
                    sortable: true
                },
                {
                    text: 'timestamp',
                    value: 'prettytimestamp',
                    sortable: true
                },
            ]
        }
    },
    async fetch() {
        let results = await fetch('https://jacobianproject.herokuapp.com/getLogs');
        if(results.ok) {
            let json = await results.json()
            json.sort((a,b) => {
                if (a.id > b.id) return -1;
                if (a.id < b.id) return 1;
            });
            console.log(json);
            this.logs = json;
            //console.log(json)
        }
    },
    methods: {
        print: async function() {
            console.log('print');
            this.printState = true;
            await setTimeout(() => {
                
            }, 500);
            print('printArea', 'html');
            await setTimeout(() => {
                
            }, 500);
            this.printState = false;
        }
    },
    computed: {
        pretty_logs: function() {
            console.log('Running')
            return this.logs.map((log) => {
                log.prettytimestamp = moment.unix(log.timestamp).format("dddd, MMMM Do YYYY, h:mm:ss a");
                return log;
            });
        },
    }    
}
</script>
 
<style scoped>
 
 </style>