<template>
    <v-app>
        <div>
            <h1>Enrolled Prints</h1>
            <v-data-table v-bind:items=this.students v-bind:headers=this.headers :loading=this.$fetchState.pending>
            </v-data-table>
            <div>
                <v-btn color="primary" v-on:click="addRecord">Add Student</v-btn>
                <nuxt-link to="/reports">
                    <v-btn color="secondary"> View Report </v-btn>
                </nuxt-link>
                <v-dialog :value="this.addUserModal" v-on:click:outside="closeModal">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Add a Student Fingerprint</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                            <v-row>
                                <v-col
                                cols="12"
                                sm="6"
                                md="4"
                                >
                                <v-text-field
                                    label="First name*"
                                    hint="Abdi"
                                    required
                                    v-model="newStudent.fName"
                                ></v-text-field>
                                </v-col>
                                <v-col
                                cols="12"
                                sm="6"
                                md="4"
                                >
                                <v-text-field
                                    label="Surname"
                                    hint="Juma"
                                    persistent-hint
                                    required
                                    v-model="newStudent.surname"
                                ></v-text-field>
                                </v-col>
                                <v-col cols="12"
                                        md = "6">
                                <v-text-field
                                    label="Registration Number*"
                                    required
                                    v-model="newStudent.registration"
                                ></v-text-field>
                                </v-col>
                                <v-col cols="12"
                                        lg = "2"
                                        md = "3">
                                <v-text-field
                                    label="Fingerprint Position*"
                                    required
                                    type="number"
                                    v-model="newStudent.fingerprint_position"
                                ></v-text-field>
                                </v-col>
                            </v-row>
                            </v-container>
                            <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                            color="blue darken-1"
                            text
                            @click="addUserModal = false"
                            >
                            Close
                            </v-btn>
                            <v-btn
                            color="blue darken-1"
                            :loading="studentPushLoading"
                            :disabled="studentPushLoading"
                            @click="sendRecord"
                            >
                            Save
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            
        </div>
    </v-app>
</template>

<script>
export default {
    data: function(){
        return {
            students: [],
            name: 'karanja',
            headers:[
                {
                    text: 'first name',
                    value: 'fName',
                },
                {
                    text: 'surname',
                    value: 'surname',
                },
                {
                    text: 'Reg. No.',
                    value: 'registration',
                    sortable: false
                },
                {
                    text: 'position',
                    value: 'fingerprint_position',
                    sortable: true
                },
                {
                    text: 'active',
                    value: 'active',
                    sortable: true
                },
            ],
            addUserModal: false,
            newStudent: {
                active: 1
            },
            studentPushLoading: false
        }
    },
    methods: {
        addRecord: function() {
            console.log('clicked');
            this.addUserModal = true;
        },
        closeModal: function() {
            this.addUserModal = false;
        },
        sendRecord: async function(){
            this.studentPushLoading = true;
            try{
                let response = await fetch('https://jacobianproject.herokuapp.com/addRecords', {
                    method: 'POST',
                    body: JSON.stringify(this.newStudent),
                    headers: {
                        'Content-Type': 'application/json;'
                    }
                });
                if(response.ok) {
                    let js = await response.text()
                    console.log(js)
                    this.students.push(this.newStudent);
                }
            }
            catch(e){
                console.log(e);
            }
            finally{
                this.studentPushLoading = false;
                this.addUserModal = false;
                this.newStudent = {};
            }
        }
    },
    async fetch() {
       let response = await fetch('https://jacobianproject.herokuapp.com/getAll');
       if(response.ok) {
           console.log(this.name);
           let json = await response.json();
           this.students = json;
           console.log(this.students);
       }                    
    }
}
</script>

<style scoped>
th.active{
    color: rgb(0, 0, 119);
}
</style>